@model Patron_Center.Models.Respuesta

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar respuesta</h1>

@if (ViewBag.RespuestaCorrecta == true)
{
    <span class="text-info">Esta respuesta <b>debe ser correcta</b>, no es posible inactivarla.</span>
}
else
{
    <span class="text-info">Esta respuesta <b>NO debe ser correcta</b>.</span>
}
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="RespuestaCorrecta" />
            <div class="form-group">
                <label asp-for="PreguntaId" class="control-label"></label>
                <select asp-for="PreguntaId" class="form-control" asp-items="ViewBag.PreguntaId"></select>
                <span asp-validation-for="PreguntaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enunciado" class="control-label"></label>
                <textarea asp-for="Enunciado" class="form-control" multiline="true" rows="3"></textarea>
                <span asp-validation-for="Enunciado" class="text-danger"></span>
            </div>
            @if (ViewBag.RespuestaCorrecta == true)
            {
                <input type="hidden" asp-for="Eliminado" />
            }
            else
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Eliminado" /> @Html.DisplayNameFor(model => model.Eliminado)
                    </label>
                </div>
            }
            @if (ViewBag.RespuestaCorrectaError != null)
            {
                <span class="text-danger">@ViewBag.RespuestaCorrectaError</span>
            }
            <div class="form-group">
                <input type="submit" value="Grabar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Respuestas" asp-action="Index" asp-route-PreguntaId=@ViewBag.PreguntaId_>Volver atrás</a>
</div>

