@{
    ViewData["Title"] = "Pagina de Bienvenida";
}

@if(ViewBag.Nombre != null)
{
    <h1> Bienvenido a Patron Center @ViewBag.Nombre</h1>
}
<div class="text-center">
    <h1 class="display-4">Bienvenido a Patron Center</h1>
    <p>Software de aprendizaje de Patrones de Diseño.</p>
</div>
