@{
    ViewData["Title"] = "Pagina de Bienvenida";
}


    <div class="text-center">
        @if (ViewBag.Nombre != null)
        {
            <h1> Bienvenido a Patron Center @ViewBag.Nombre</h1>
        }
        else
        {
            <h1> No deberia deberia mostrar este mensaje nunca</h1>
        }
        <p>Software de aprendizaje de Patrones de Diseño.</p>
    </div>
