@{
    ViewData["Title"] = "Pagina de Bienvenida";
}


<div class="text-center">
    @if (ViewBag.Nombre != null)
    {
    <h1>Hola @ViewBag.Nombre, bienvenido a Patron Center.</h1>
    }

    <p>Software de aprendizaje de Patrones de Diseño.</p>
    <div style="position:center; bottom:0px">
        <img src="~/images/udeLogo.png" class="img-fluid" alt="UDE Logo">
    </div>
</div>
