@model IEnumerable<Patron_Center.Models.CursoUsuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Alumnos del curso</h1>

<p>
    <a asp-action="Create" asp-route-CursoId=@ViewBag.CursoId>Inscribir Alumno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Alumno
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(String.Format("{0} {1}", item.Usuario.Nombre, item.Usuario.Apellido))
                </td>

                @if (ViewBag.TipoUsuario != "Alumno")
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Cambiar de curso</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Cursos" asp-action="Index">Volver atras</a>
</div>