@model Patron_Center.Models.Pregunta

@{
    ViewData["Title"] = "Create";
}

<h1>Crear pregunta</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuizId" class="control-label"></label>
                <select asp-for="QuizId" class="form-control" asp-items="ViewBag.QuizId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Enunciado" class="control-label"></label>
                <textarea asp-for="Enunciado" class="form-control" multiline="true" rows="3" /></textarea>
                <span asp-validation-for="Enunciado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puntaje" class="control-label"></label>
                <input asp-for="Puntaje" class="form-control" />
                <span asp-validation-for="Puntaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orden" class="control-label"></label>
                <input asp-for="Orden" class="form-control" value="@ViewBag.NextOrder" />
                <span asp-validation-for="Orden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Preguntas" asp-action="Index" asp-route-QuizId=@ViewBag.QuizId_>Volver atrás</a>
</div>

