@model Patron_Center.Models.Quiz

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Quiz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UnidadId" class="control-label"></label>
                <select asp-for="UnidadId" class ="form-control" asp-items="ViewBag.UnidadId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Puntaje" class="control-label"></label>
                <input asp-for="Puntaje" class="form-control" />
                <span asp-validation-for="Puntaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluacion" class="control-label"></label>
                <select asp-for="Evaluacion" asp-items="Html.GetEnumSelectList<TipoQuiz>()" class="form-control"></select>
                <span asp-validation-for="Evaluacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ejercicio" class="control-label"></label>
                <select asp-for="Ejercicio" asp-items="Html.GetEnumSelectList<TipoEjercicio>()" class="form-control"></select>
                <span asp-validation-for="Ejercicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Quizes" asp-action="Index" asp-route-UnidadId=@ViewBag.UnidadId_>Volver atrás</a>
</div>

