@{
    ViewData["Title"] = "Evaluación enviada";
}

<div class="alert alert-success" role="alert">
    @ViewBag.QuizDevMessage ir al <a asp-controller="Quizes" asp-action="ViewQuizes" asp-route-UnidadId=@ViewBag.IdUnidad>Prácticos</a>
</div>
